h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    background-image: url(https://th.bing.com/th/id/R.7d0351fb9d73f9c50de26bbbda30427e?rik=dYViEC8pmt9Iew&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
    border: 10px ridge rgb(32, 138, 32);
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}

p {
    color: rgb(10, 10, 10);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5%;
}

h2 {
    color: green;
    text-align: center;
    text-decoration: underline;
    background-color: yellow;
    border: 1px dashed blue
}

h3 {
    color: yellow;
    text-align: left;
    background-color: green;
    border: 2px dotted black;
}

h4 {
    color: blue;
    text-align: left;
    background-color: yellow;
    border: 2px solid black;
}
