body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-image: linear-gradient(to bottom, rgb(97, 130, 100), rgb(121, 172, 120), rgb(176, 217, 177), rgb(208, 231, 210));
    text-align: center;
    padding: 5px;
}

nav > a {
padding: 0px;
color: black;
text-decoration: none;
margin: 5px;
font-weight: bold;
}

.contactAndAboutFooter {
    position: static;
    bottom:0;
    width: 100%;
}


footer {
    padding-top: 50px;
    text-align: center;
    background-image: linear-gradient(to top, rgb(97, 130, 100), rgb(121, 172, 120), rgb(176, 217, 177), rgb(208, 231, 210));
    padding-bottom: 5px;
}

footer > a {
    color: black;
    text-decoration: none;
    font-weight: bold;  
    padding: 5px;
}

footer > p {
    color: black;
    font-weight: lighter;  
    padding: 5px;
    text-align: justify;
}

footer > a:visited {
    color: black;
}

.underBanner > p {
    text-align: center;
    margin: 0px;
}
        
a:hover {
text-decoration: underline;
}

.banner {
    padding: 0px;
    margin: 0px;
    background: rgba(208, 231, 210);
    display: flex;
    justify-content: center;
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
}

.saladText {
    text-align: left;
    padding: 5px;
    float: left;
    max-width: 750px;
}

.saladImage {
    float: right;
    padding: 0px;
    margin: 1px;
}

.gardenBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

.ramenBorder {
    background-image: linear-gradient(to right, rgba(110, 224, 128, 0.4), rgba(126, 224,146 , 0.5), rgba(225, 194, 98, 0.7), rgba(224, 76, 108, 0.5), rgba(224, 88, 105, 0.4));
    padding: 15px;
    margin: 1px;
}

.potatoBorder {
    background-image: linear-gradient(-60deg, rgba(68,148,71, 0.4), rgba(148,224,150, 0.5), rgba(224,224,81, 0.7), rgba(148,114,34, 0.5), rgba(224,194,123, 0.4));
    padding: 15px;
    margin: 1px;
}

.capreseImage {
    width: 400px;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.tonioImage {
    width: 360px;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.capreseBorder {
    background-image: linear-gradient(to left, rgba(148,13,13, 0.4), rgba(255,74,74, 0.5), rgba(224,43,43, 0.7), rgba(0,148,42, 0.5), rgba(33,225,87, 0.4));
    padding: 15px;
    margin: 1px;
}

.caesarBorder {
    background-image: linear-gradient(to left, rgba(28,148,74, 0.4), rgba(133,255,179, 0.5), rgba(94,224,144, 0.7), rgba(148,87,84, 0.5), rgba(224,127,121, 0.4));
    padding: 15px;
    margin: 1px;
}

.pastaBorder {
    background-image: linear-gradient(to left, rgba(40,148,68, 0.4), rgba(79,224,117, 0.5), rgba(224,193,38, 0.7), rgba(148,50,32, 0.5), rgba(224,72,45, 0.4));
    padding: 15px;
    margin: 1px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    margin-left: 5px;
    text-align: justify;    
}

img {
    max-width: 100%;
}

/* Sponsored Products */

.Sponsor {
    display: flex;
    align-items: center;
    border: 10px solid rgb(208, 231, 210);
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.product {
    text-align: left;
    padding: 0px;
    margin: 1px;
    float: left;
}

.product > h3 {
    margin-left: 35px;
    text-align: left;
}

.imageMayo {
    text-align: right;
    float: right;
}

.imageMayo > img {
    max-width: 50%;
}

.imageKetchup {
    text-align: right;
    float: right;
}

.imageKetchup > img {
    max-width: 50%;
}

.WIP {
    text-align: left;
    padding: 5px;
    margin: 1px;
}

.contactAndAboutWeb{
    background-color: rgb(208, 231, 210);
}

#aboutWeb {
    height: 70vh;
}

#contactWeb {
    height: 70vh;
}

.flexContact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexbox {
    width: 300px;
}

.flexbox > h1{
    text-align: center;
    padding: 5px;
    font-size: 42px;
    margin: 0;
}

.flexbox > p{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

#rickLink{
    text-align: center;
    padding: 5px;
    font-size: 19px;
    font-weight: lighter;
    text-decoration: underline;
    color: peru;
}

#rickLink:hover{
    text-align: center;
    padding: 5px;
    font-size: 19px;
    font-weight: bolder;
    text-decoration: line-through;
    color: crimson;
}

#saladGod{
    text-align: center;
    padding: 5px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

#saladGod:hover{
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    color: crimson;
}

.flexbox1 > h1{
    text-align: center;
    padding: 5px;
    font-size: 42px;
    margin: 0;
}

.flexbox1 > p{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}