body {
    /*background-image: linear-gradient(to bottom, rgb(97, 130, 100), rgb(121, 172, 120), rgb(176, 217, 177), rgb(208, 231, 210));*/
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgb(97, 130, 100), rgb(121, 172, 120), rgb(176, 217, 177), rgb(208, 231, 210));
    text-align: center;
    padding: 5px;
}

a {
padding: 0px;
color: black;
text-decoration: none;
margin: 5px;
font-weight: bold;
}
        
a:hover {
text-decoration: underline;
}

.banner {
    text-align: center;
    padding: 0px;
    margin: 0px;
    background: rgba(208, 231, 210);
}

.gardenSalad {
    display: flex;
    align-items: center;
}

.gardenText {
    text-align: left;
    padding: 5px;
}

.gardenImage {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.gardenBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

.ramenSalad {
    display: flex;
    align-items: center;
}

.ramenText {
    text-align: left;
    padding: 5px;
}

.ramenImage {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.ramenBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

.potatoSalad {
    display: flex;
    align-items: center;
}

.potatoText {
    text-align: left;
    padding: 5px;
}

.potatoImage {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.potatoBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

.capreseSalad {
    display: flex;
    align-items: center;
}

.capreseText {
    text-align: left;
    padding: 5px;
}

.capreseImage {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.capreseBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

.caesarSalad {
    display: flex;
    align-items: center;
}

.caesarText {
    text-align: left;
    padding: 5px;
}

.caesarImage {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.caesarBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

.pastaSalad {
    display: flex;
    align-items: center;
}

.pastaText {
    text-align: left;
    padding: 5px;
}

.pastaImage {
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 1px;
}

.pastaBorder {
    background-image: linear-gradient(to left, rgba(54, 173, 81, 0.4), rgba(171, 255, 190, 0.5), rgba(120, 250, 149, 0.7), rgba(173, 35, 49, 0.5), rgba(250, 165, 173, 0.4));
    padding: 15px;
    margin: 1px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    margin-left: 5px;
    text-align: justify;
    text-justify: auto;
    
}

img {
    width: fit-content;
}